@model KursachTP.Models.Post
<style>
    body {
        background-color: #3870ff;
    }

    form {
        font-size: 15px;
        display: inline-block;
        background-color: white;
        color: black;
        padding: 10px 60px;
        border-radius: 8px;
    }
</style>
<h3>Данные о посте:</h3>
<div style="text-align: center;">
    <form>
        <table class="table table-striped" width="200" border="1" style="display: inline-block;">
            <tr>
                <p>ID поста:              @Model.PostID   </p>
                <p>ID пользователя:       @Model.UserID   </p>
                <p>Название поста:              @Model.PostTitle   </p>
                <p>Содержание:          @Model.PostDescription   </p>
                <p>Дата выхода:         @Model.StartTime </p>
                    Видимость:
                    @if (@Model.Hide == true)
                    {
                    <p>Виден</p>
                }
                else
                {
                    <p>Не виден</p>
                }
                </tr>
            </table>
            <a class="btn btn-outline-dark" asp-action="PostView">Список постов</a>
        </form>
    </div>
    @section scripts{

        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }

