<h2>Все пользователи</h2>
<style>
    body {
        background-color: lightblue;
    }

    form {
        font-size: 15px;
        display: inline-block;
        background-color: white;
        padding: 10px 60px;
        border-radius: 8px;
    }
</style>
<div class="tb1">
    <table class="table table-striped">
        <tr>
            <td>ID</td>
            <td>ID_User(Имя)</td>
            <td>Название</td>
            <td>Содержание</td>
            <td>Время выхода поста</td>
            <td>Видимость</td>
        </tr>
        @foreach (var pst in Model)
        {
            <tr>
                <td>@pst.PostID</td>
                <td>@pst.UserID</td>
                <td>@pst.PostTitle</td>
                <td>@pst.PostDescription</td>
                <td>@pst.StartTime</td>
                <td>
                    @if (@pst.Hide == true)
                    {<p>Виден</p>}
                    else
                    {<p>Не виден</p>}
                </td>
                <td>
                <td>
                    <a class="btn btn-warning" asp-action="DeletePerson" asp-route-id="@pst.PostID">Удалить</a>
                    <a class="btn btn-primary" asp-action="EditPerson" asp-route-id="@pst.PostID">Редактировать</a>
                    <a class="btn btn-info" asp-action="InfoPerson" asp-route-id="@pst.PostID">i</a>
            </tr>
        }
    </table>
</div>
<a class="btn btn-warning" asp-action="CreatePerson">Добавить нового пользователя</a>


@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}