@using KursachTP.DAO
@using System.Security.Claims
@model KursachTP.Models.Post

<style>
    body {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        background: #7CA8FF;
        width: 70%;
        margin: 0 auto;
    }

    .header {
        position: absolute;
        width: 100%;
        height: 10%;
        left: 0px;
        top: 0px;
        min-width: 20%;
        background: #6296E4;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: end;
        min-width: 20%;
        min-height: 50%;
    }

    .header-intro {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1.3%;
        margin-left: 15%;
        margin-right: 15%;
        min-width: none;
    }

    .logo {
        text-decoration: none;
        color: white;
        font: 'Roboto';
        font-size: 24pt;
        min-width: 20%;
        min-height: 100%;
    }

    .nav_link_find {
        display: inline-block;
        text-decoration: none;
        color: #6296E4;
        font: 'Roboto';
        font-size: 24pt;
        background-color: #FFFFFF;
        border-radius: 51px;
        padding: 0 15px 0 15px;
    }

    .nav_link {
        display: inline-block;
        margin-left: 10%;
        text-decoration: none;
        color: white;
        font: 'Roboto';
        font-size: 24pt;
        white-space: nowrap;
        max-height: 100%;
        min-width: auto;
        min-height: 100%;
    }

    .main {
        align-items: center;
        margin: 13% auto 0 auto;
    }

    .title {
        text-align: center;
        color: #FFFFFF;
        font-size: 26px;
        padding: 0% 5% 5% 5%;
    }

    .dateTime {
        font-size: 16px;
        color: #d6d6d6;
    }

    .content {
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
        margin: 0 auto;
        width: 40%;
        background: #6296E4;
        box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }

    .mainInf {
        color: #FFFFFF;
        font-size: 21px;
        display: flex;
        flex-direction: column;
        flex-flow: column nowrap;
        align-items: stretch;
        justify-content: normal;
        height: auto;
        padding: 2% 4% 0% 4%;
    }

    .Text {
        text-align: left;
        padding: 0% 0% 3% 0%;
    }

    .input {
        background: #5389DA;
        border-radius: 10px;
        border: 2px solid #4876bb;
        font-size: 21px;
        color: white;
        width: 96%;
        height: auto;
        padding: 1% 2% 1% 2%;
        word-break: break-word;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    .inputSel {
        background: #5389DA;
        border-radius: 10px;
        border: 2px solid #4876bb;
        font-size: 21px;
        color: white;
        height: auto;
        padding: 1% 2% 1% 2%;
        word-break: break-word;
        white-space: normal;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    .inputDate {
        background: #5389DA;
        border-radius: 10px;
        border: 2px solid #4876bb;
        font-size: 21px;
        color: white;
        padding-left: 2%;
        padding-right: 2%;
        width: 160px;
        height: 30px;
    }

    .inputBig {
        background: #5389DA;
        border-radius: 18px;
        border: 2px solid #4876bb;
        font-size: 21px;
        color: white;
        padding: 0% 2% 0 2%;
        resize: none;
        width: 96%;
        min-height: 30px;
    }

    .button {
        margin: 10% auto 0% auto;
        padding: 1px 1px 1px 1px;
        width: 280px;
        border-radius: 51px;
        border: 2px solid white;
        background: white;
        color: #6296E4;
        font-size: 24px;
        text-decoration: none;
        cursor: pointer;
    }


    .contentF {
        justify-content: space-between;
        max-width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    footer {
        display: flex;
        justify-content: space-between;
        color: #FFFFFF;
        width: 100%;
        margin-top: 2%;
        margin-bottom: 5%;
    }

    .aboutF {
        float: right;
    }

    .footerA {
        text-decoration: none;
        color: #FFFFFF;
    }
</style>

<header class="header">
    <div class="header-intro">
        <div class="logo">Logo</div>
        <nav class="nav">
            <a class="nav_link" asp-area="" asp-controller="Home" asp-action="Index">Пользователи</a>
            <a class="nav_link" asp-area="" asp-controller="Home" asp-action="WarningView">Жалобы</a>
            <a class="nav_link" asp-area="" asp-controller="Home" asp-action="PostView">Посты</a>
            <a class="nav_link" asp-area="" asp-controller="Home" asp-action="ProfileView">
                @try
                {
                    @User.FindFirst(x => x.Type == ClaimTypes.Name).Value
                }
                catch (NullReferenceException ex)
                {

                }
            </a>
            <a class="nav_link" asp-area="" asp-controller="Home" asp-action="Logout">Выход</a>
        </nav>
    </div>
</header>

<div class="main">
    <form method="post" asp-antiforgery="true" asp-action="UpdatePost" asp-controller="Home" class="content">

        <div class="title">
            Редактирование поста:
        </div>

        <div class="mainInf">

            <div class="Text">
                ID поста:
                <input value="@Model.PostID" type="text" asp-for="PostID" class="input" />
            </div>

            <div class="Text">
                ID пользователя:
                <input value="@Model.UserID" type="text" asp-for="UserID" class="input" />

            </div>

            <div class="Text">
                Заголовок:
                <input value="@Model.PostTitle" type="text" asp-for="PostTitle" class="input" />
            </div>

            <div class="Text">
                Описание:
                <input value="@Model.PostDescription" type="text" asp-for="PostDescription" class="input" />
            </div>

            <div class="Text">
                Время создание:
                <input value="@Model.StartTime" asp-for="StartTime" type="datetime" class="input" />
            </div>

            <div class="Text">
                Разновидность хобби:
                <select name="HobbyID" class="inputSel">
                    <option value="@Model.HobbyID">
                        @switch (@Model.HobbyID)
                        {
                            case 1:
                                <div class="hobbyDis">Интеллектуальные игры</div>
                                break;
                            case 35:
                                <div class="hobbyDis">Спорт</div>
                                break;
                            case 36:
                                <div class="hobbyDis">Музыка</div>
                                break;
                            case 37:
                                <div class="hobbyDis">Кино</div>
                                break;
                            case 38:
                                <div class="hobbyDis">Творчество</div>
                                break;
                            case 39:
                                <div class="hobbyDis">Путешествия</div>
                                break;
                            case 40:
                                <div class="hobbyDis">Коллекционирование</div>
                                break;
                            case 41:
                                <div class="hobbyDis">Компьютерные игры</div>
                                break;
                            case 42:
                                <div class="hobbyDis">Мода</div>
                                break;
                            case 43:
                                <div class="hobbyDis">Разное</div>
                                break;
                            case 100:
                                <div class="hobbyDis">-</div>
                                break;
                        }
                    </option>
                    <option value="null">-</option>
                    <option value="35">Спорт</option>
                    <option value="36">Музыка</option>
                    <option value="37">Кино</option>
                    <option value="38">Творчество</option>
                    <option value="39">Путешествия</option>
                    <option value="40">Коллекционирование</option>
                    <option value="41">Компьютерные-игры</option>
                    <option value="42">Мода</option>
                    <option value="43">Разное</option>
                    <option value="1">Интеллектуальные игры</option>
                </select>
            </div>

            <div class="Text">
                Скрыт:
                <select name="Hide" class="inputSel">
                    <option value="@Model.Hide">
                        @if (Model.Hide == true) {
                            <div>Нет</div>
                        } else {
                            <div>Да</div>
                        }
                    </option>
                    <option value="true">Да</option>
                    <option value="false">Нет</option>
                </select>
            </div>

            <input type="submit" class="button" value="Изменить" />
            <a class="button" asp-action="PostView">Список постов</a>
        </div>
    </form>
</div>

<hr style="margin-top: 15%;">

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

